
body{margin:0;}
#msviRegionIdGraphic{padding-left:7px;}
#msviGlobalToolbar{padding-left:1px;}
#msviGlobalToolbar a{
font:65% Verdana;
text-decoration:none;
color:#FFFFFF;
}
.gt0{
border:solid 1px #1E77D3;
padding:0px 4px 2px 4px;
font-size:100%;
}
.gt1{
border:solid 1px #A1C6EB;
padding:0px 4px 2px 4px;
background:#3484D7;
font-size:100%;
}
.gtsep{
font:65% Verdana;
color:#A1C6EB;
padding:0px 1px 2px 1px;
}
#msviBanner{text-align:right;}
#msviGlobalSearch{
text-align:left;
font:65% Verdana;
color:#000000;
padding-top:5px;
padding-left:6px;
padding-right:15px;
}
#msviSearchForm{margin:-1px 0px 0px 0px;}
#msviSearchBox{
width:247px;

font:110% Tahoma;
}
#msviGoButton{
font:110% Tahoma;
padding:0em 0.2em;
position:relative;
top:0px;
margin-left:6px;
}
#msviNoSearch{width:271px;}
#msviMastheadHR{
height:1px; 
overflow:hidden; 
background:#003499;
}
#msviLocalToolbar{
border-top:solid 1px #999;
border-bottom:solid 1px #999;
background:#F1F1F1;

padding:2px 0px 1px 0px;

font-size:100%;
}
#msviLocalToolbar td{font-size:100%;}
#msviLocalToolbar a{
font:70% Verdana;
color:black;
text-decoration:none;
}
.lt0{
border:solid 1px #F1F1F1;
background:#F1F1F1;
padding:0px 6px 0px 6px;
}
.lt1{
border:solid 1px #999;
background:#CCC;
padding:0px 6px 0px 6px;
}
.ltsep{
font:70% Verdana;
color:#A9A9A9;
padding:0px 1px;
}
.localToolbar form{margin:0px;}
.localToolbar input{
font:70% Tahoma, Helvetica;
margin-right:8px;
padding:0px;
}
#msviHomePageLink{
width:177px;
padding-left:2px;
}
#msviHomePageLink td{font-size:100%;}
#msviHomePageLink a{
display:block;
padding:2px 6px 2px 6px;
margin:0px;
background:#F1F1F1;
white-space:nowrap;

}
#msviHomePageLink a:hover{
display:block;
border:solid 1px #999;
padding:2px 6px 2px 6px;
margin:0px;
background:#CCC;
}
#msviFooter{
font:70% Tahoma, Helvetica;
border-top:solid 1px #003499;

}
#msviFooter td{font-size:100%;}
#msviLocalFooter{
margin:0px;
padding-top:8px;
padding-left:10px;
}
#msviGlobalFooter{
margin:0px;
padding-top:10px;
padding-bottom:13px;
padding-left:10px;
}
#msviFooter a{
color:#03C;
margin-right:2px;
background:transparent;
font-weight:normal;
}
#msviFooter a:visited{
color:#03C;
background:transparent;
font-weight:normal;
}
#msviFooter a:hover{
color:#F60;
background:transparent;
font-weight:normal;
}
#msviFooter nobr{
color:#A9A9A9;
margin-right:5px;
}

#msviFooter2{
background-image:url(/library/toolbar/3.0/gradient.aspx?a=FFFFFF&b=3F8CDA&w=400&h=1&d=ltr&c=9voXwao2n8RHkUH%2bmSK1HX5FMl4%3d);
background-repeat:repeat-y;
background-position:right;
}

.msviPassport { padding-left:10px; padding-right:7px; }
.msviPPSpace {padding-right:87px;}